doctype html
html(lang=`${lang}`)
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(name='description', content='RIESGOS Website')
    meta(name='keyword', content='RIESGOS')
    meta(http-equiv='refresh', content='0; URL=/de/')
    base(href='/')
    title
      | ZKI-DE
    style.
      body p{
      text-align: center;
      font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
      font-size: 2rem;
      color: rgb(79,129,189);
      }
      body img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      }
  body
